<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Iside.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="ProgramFeedbackSoap"/>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://www.littlelite.net/webservices/ProgramFeedback.asmx" binding="basicHttpBinding" bindingConfiguration="ProgramFeedbackSoap" contract="net.littlelite.www.ProgramFeedbackSoap" name="ProgramFeedbackSoap"/>
      </client>
    </system.serviceModel>
    <userSettings>
        <Iside.Properties.Settings>
            <setting name="FolderLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DefaultHash" serializeAs="String">
                <value>MD5</value>
            </setting>
            <setting name="AlternativeHash" serializeAs="String">
                <value>SHA1</value>
            </setting>
            <setting name="PrimaryHash" serializeAs="String">
                <value>MD5</value>
            </setting>
            <setting name="HashStyle" serializeAs="String">
                <value>UNIX</value>
            </setting>
            <setting name="LeftColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RightColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="IsideWinLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IsideWinTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SizeForm" serializeAs="String">
                <value>DOUBLE</value>
            </setting>
        </Iside.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
