<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IsideFolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IsideFolder.Properties.Settings>
            <setting name="RecentComp1" serializeAs="String">
                <value/>
            </setting>
            <setting name="RecentComp2" serializeAs="String">
                <value/>
            </setting>
            <setting name="RecentComp3" serializeAs="String">
                <value/>
            </setting>
            <setting name="RecentComp4" serializeAs="String">
                <value/>
            </setting>
            <setting name="FolderHash" serializeAs="String">
                <value>MD5</value>
            </setting>
            <setting name="ScanHiddenFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanSystemFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanArchiveFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderWinLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FolderWinTop" serializeAs="String">
                <value>0</value>
            </setting>
        </IsideFolder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
